.footer {
    display: flex;
    justify-content: center;    
    height: 200px;
    .footer-nav {
        display: flex;
        justify-content: center;
        align-items: center;
    }
        a{
            text-decoration: none;
            color: black;
            padding: 5px;
            font-family: 'Dosis', sans-serif;
            font-size: 18px;
        }
}