.index{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Dosis', sans-serif;
    width: 100%;
    height: 248px;
    .index-content{
        display: flex;
        justify-content: center;
        box-sizing: content-box;
        max-width: 300px;
        flex-direction: column;
        .index-logo{
            max-width: 100px;
            border-radius: 50%;
            border: 5px solid rgba(231, 10, 202, 0.205);
        }   
            h2{
                font-family: 'Dosis', sans-serif;
                font-size: 20px;
                font-weight: 400;
            }
    }
    
}